@charset "UTF-8";

@font-face {
  font-family: "icon-font";
  src:url("../fonts/icons/font.eot");
  src:url("../fonts/icons/font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons/font.woff") format("woff"),
    url("../fonts/icons/font.ttf") format("truetype"),
    url("../fonts/icons/font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  content: attr(data-icon);
}

.icon {
	font-family: 'icon-font';
	vertical-align: middle;
	line-height: 0px;
	margin-right:10px;
	font-size: 15px;
	font-weight: normal;
}

[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-right:before {
  content: "a";
}

.icon-align-left:before {
  content: "b";
}

.icon-align-justify:before {
  content: "c";
}

.icon-align-center:before {
  content: "d";
}

.icon-alert:before {
  content: "e";
}

.icon-check:before {
  content: "f";
}

.icon-at-sign:before {
  content: "g";
}

.icon-star:before {
  content: "h";
}

.icon-graph-bar:before {
  content: "i";
}

.icon-graph-pie:before {
  content: "j";
}

.icon-dollar:before {
  content: "k";
}

.icon-bookmark:before {
  content: "l";
}

.icon-clipboard-notes:before {
  content: "m";
}

.icon-clipboard-pencil:before {
  content: "n";
}

.icon-checkbox:before {
  content: "o";
}

.icon-link:before {
  content: "p";
}

.icon-list-bullet:before {
  content: "q";
}

.icon-lock:before {
  content: "r";
}

.icon-megaphone:before {
  content: "s";
}

.icon-marker:before {
  content: "t";
}

.icon-magnifying-glass:before {
  content: "u";
}

.icon-pricetag-multiple:before {
  content: "v";
}

.icon-pound:before {
  content: "w";
}

.icon-refresh:before {
  content: "x";
}

.icon-shuffle:before {
  content: "y";
}

.icon-torsos-all:before {
  content: "z";
}

.icon-target:before {
  content: "A";
}

.icon-telephone:before {
  content: "B";
}

.icon-trophy:before {
  content: "C";
}

.icon-up-arrow-circle:before {
  content: "D";
}

.icon-down-arrow-circle:before {
  content: "E";
}

.icon-three-dots:before {
  content: "F";
}

.icon-rocket:before {
  content: "G";
}

.icon-calendar:before {
  content: "H";
}

.icon-exclamation-mark:before {
  content: "I";
}

.icon-share:before {
  content: "J";
}

.icon-cup-of-tea:before {
  content: "K";
}

.icon-shovel:before {
  content: "L";
}

.icon-bell:before {
  content: "M";
}

.icon-briefcase:before {
  content: "N";
}

.icon-chart-bar:before {
  content: "O";
}

.icon-chart-line:before {
  content: "P";
}

.icon-dot-3:before {
  content: "Q";
}

.icon-gauge:before {
  content: "R";
}

.icon-key:before {
  content: "S";
}

.icon-lifebuoy:before {
  content: "T";
}

.icon-vcard:before {
  content: "U";
}

.icon-beer:before {
  content: "V";
}

.icon-clipboard:before {
  content: "W";
}

.icon-servers:before {
  content: "X";
}

.icon-cloud-grid:before {
  content: "Y";
}

.icon-globe:before {
  content: "Z";
}

.icon-archive:before {
  content: "0";
}

.icon-compass:before {
  content: "1";
}

.icon-popup:before {
  content: "3";
}

.icon-eye:before {
  content: "2";
}

.icon-analytics-chart-graph:before {
  content: "4";
}

.icon-social-android:before {
  content: "5";
}

.icon-social-apple:before {
  content: "6";
}

.icon-social-facebook:before {
  content: "7";
}

.icon-social-dropbox:before {
  content: "8";
}

.icon-social-drive:before {
  content: "9";
}

.icon-social-digg:before {
  content: "!";
}

.icon-social-skype:before {
  content: "\"";
}

.icon-social-reddit:before {
  content: "#";
}

.icon-social-pinterest:before {
  content: "$";
}

.icon-social-twitter:before {
  content: "%";
}

.icon-social-vimeo:before {
  content: "&";
}

.icon-social-tumblr:before {
  content: "'";
}

.icon-social-linkedin:before {
  content: "(";
}

.icon-social-path:before {
  content: ")";
}

.icon-social-github:before {
  content: "*";
}

.icon-social-google-plus:before {
  content: "+";
}

.icon-paperclip:before {
  content: ",";
}

.icon-rss:before {
  content: "-";
}

.icon-star:before {
  content: ".";
}

.icon-widget:before {
  content: "/";
}

.icon-euro-symbol:before {
  content: ":";
}

.icon-bullseye:before {
  content: ";";
}

.icon-iphone:before {
  content: "<";
}

.icon-ipad:before {
  content: "=";
}

.icon-cloud:before {
  content: ">";
}

.icon-house:before {
  content: "?";
}

.icon-briefcase:before {
  content: "@";
}

.icon-book-open:before {
  content: "[";
}

.icon-graduation-cap:before {
  content: "]";
}

.icon-target-1:before {
  content: "^";
}

.icon-up-arrow:before {
  content: "_";
}

.icon-cross:before {
  content: "`";
}

.icon-tick:before {
  content: "{";
}

.icon-graph-fall:before {
  content: "|";
}

.icon-graph-rise:before {
  content: "}";
}

.icon-link-1:before {
  content: "~";
}

.icon-arrow-up:before {
  content: "\\";
}

.icon-arrow-down:before {
  content: "\e000";
}

.icon-comment-discussion:before {
  content: "\e001";
}

.icon-clock:before {
  content: "\e002";
}

.icon-diff-added:before {
  content: "\e003";
}

.icon-diff-removed:before {
  content: "\e004";
}

.icon-eye-1:before {
  content: "\e005";
}

.icon-database:before {
  content: "\e006";
}

.icon-graph:before {
  content: "\e007";
}

.icon-globe:before {
  content: "\e008";
}

.icon-location:before {
  content: "\e009";
}

.icon-list-unordered:before {
  content: "\e00a";
}

.icon-tools:before {
  content: "\e00b";
}

.icon-tag:before {
  content: "\e00c";
}

.icon-triangle-up:before {
  content: "\e00d";
}

.icon-star-1:before {
  content: "\e00e";
}

.icon-briefcase-1:before {
  content: "\e00f";
}

.icon-dashboard:before {
  content: "\e010";
}

.icon-search:before {
  content: "\e011";
}

.icon-mail-reply:before {
  content: "\e012";
}
