html {
    color: #515151;
    font-size: 1em;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  background-color: #fff;
}

.logo-image {

  display:block;

  width: 139px;
  height: 29px;

  background-size: 139px 29px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: top left;

}

@media (min-width: 1px) and (max-width: 992px) {
  .logo-image { width: 15px; }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo-image { background-image: url(../images/logo@2x.png); }
}


a {
  color: #55a4f2;
  text-decoration: none;
}

p
{
  font-size: 16px;
color: #72777e;
line-height: 28px;

}

h1, h2
{
  font-weight: 300;
  padding:10px 0px;
}



h5
{
  font-size: 16px;

}

a:active, a:hover {
  color: #3bbcf8;
  text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eaedf2;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul li
{
    font-size: 16px;
    color: #72777e;
}

.navbar
{
  min-height: 60px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.navbar {
  box-shadow: none;
  border-radius: 0;
  border-left: none;
  border-right: none;
  background-image:none;
  background:#FFF;
}

nav .row {
  margin-top: 0;
}

.row {
  margin-top: 14px;
}

.menu {
  list-style: none;
  /*padding: 15px 0;*/
  padding: 0;
  margin: 0;
}

.menu li {
  float: left;
  /*padding-top: 5px;*/
}

.menu li a {
  color: #515151;
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 19px 25px;
}

.menu li a:hover {
  color: #515151;
  text-decoration: none;
}

.menu li.logo a {
  padding: 15px;
  padding-left: 5px;
}

.menu li a
{
  font-weight: bold;
  font-size: 13px;
}

.menu li:last-child {
  margin-right: 0;
}

@media (min-width: 1px) and (max-width: 767px) {
  .menu li.logo a { padding-right: 5px; }
  .menu li a { padding: 19px 9px; }
}

.content.justified {
  text-align: justify;
}

table {
  width: 50%;
}

.about table {
  width: 100%;
}

.questions {
  float: right;
  margin-left: 60px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.questions.block {
  float: none;
  margin: 40px 0;
}

.questions li a {
  color: rgba(0,0,0,.6);
}

.questions li:first-child h4 {
  margin-top: 0;
}

.questions li h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about header, .contact header {
  display: none;
}

.quote {
  position: relative;
  text-align: center;
  padding-top: 220px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  color: #313740;
  font-size: 24px;
  width: 80%;
  margin: 40px auto;
  padding-bottom: 100px;
  line-height: 44px;
}

.quote:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.quote:before {
  position:absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  text-transform:uppercase;
  color: rgba(0, 0, 0, .2);
  font-size: 14px;
  padding-bottom: 40px;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-style: normal;
}

.shane.quote:after {
  background-image: url('/images/shane.jpg');
  background-size: 120%;
}

.shane.quote:before {
  content: 'Shane Leonard (CEO)';
}

.david.quote:after {
  background-image: url('/images/team-dave.png');
  background-size: 117%;
}

.david.quote:before {
  content: 'David Kelley';
}

.jobs .intro .job-benefits {
  padding-left: 14px;
  color: #018afd;
}

.jobs .intro .job-benefits li:first-child {
  margin-top: 0;
}

.jobs .intro .job-benefits li {
  margin-top: 8px;
}

.jobs .team-photo {
  overflow: hidden;
  margin: 40px 0;
  height: 400px;
}

.jobs .team-photo img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.jobs .requirements {
  padding-left: 15px;
}

.jobs .requirements li {
  margin-top: 10px;
}

.jobs .requirements li:first-child {
  margin-top: 0px;
}

.about th
{
    font-size: 22px;
font-weight: 300;
color:#31363F;
}

.about td, .about th {
  padding: 5px 20px;

}



.about table img {
  width: auto;
  height: auto;
}

.about .team.row {
  margin-top: 40px;
}

.about .team.row img {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.job-cat
{
  color:#9ea4ad;
}

#our-team
{
  text-align: center;
  padding:20px 0px;
}


.btn-contact .icon
{
  margin-right:20px;
}

.map .icon
{
  color:#3875f7;
}

.btn-contact
{
  text-align: center;
  width:100%;
  border:1px solid #ebebeb;
  padding: 16px 13px;
  color:#3875f7;
  font-size:15px;
  font-weight: 500;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  margin:10px 0px;
}

.btn-contact:hover
{
  background:#3875f7;
  color:#fff;
  border:0px;
  border:1px solid #3875f7;
}

.map
{
  padding:80px 0px;
}

.heading
{
  padding:30px 0px;
}

footer {
  display: block;
  margin-top: 40px;
  padding: 40px 0;
  background: white;
}

footer h6 {
  font-weight: normal;
  font-size: 13px;
  color: #b7b7b7;
  margin: 0;
}

footer .spaced {
  margin-top: 20px;
}

footer .spaced:first-child {
  margin-top: 0;
}

footer .links {
  list-style: none;
  padding: 0;
}

footer .links li {
  float: left;
  margin-left: 20px;
}

footer .links li a
{
  color:#428bca
}

footer .links li:first-child {
  margin-left: 0;
}

footer .reuters {
  text-align: right;
}


.picture
{
  margin-top:30px;
  margin-bottom:30px;
}

.about td
{
    font-size: 16px;
color: #72777e;
line-height: 28px;

}


.center-text
{
  text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
