html {
    color: #515151;
    font-size: 1em;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1;
}

html, body {
  height: 100%;
  background-color: #eef1f4;
}

a {
  color: #515151;
  text-decoration: none;
}

a:active, a:hover {
  color: #018afd;
  text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eaedf2;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.navbar {
  box-shadow: none;
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.row {
  margin-top: 9px;
}

.menu {
  list-style: none;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.menu li {
  float: right;
  margin-left: 10%;
}

.menu li:last-child {
  margin-left: 0;
}

.content.justified {
  text-align: justify;
}

.questions {
  float: right;
  margin-left: 60px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.questions li a {
  color: rgba(0,0,0,.6);
}

.questions li:first-child h4 {
  margin-top: 0;
}

.questions li h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .quote {
  position: relative;
  text-align: center;
  padding-top: 220px;
  font-family: "Times New Roman", serif;
  font-weight: 300;
  color: #717171;
  font-size: 2em;
  width: 80%;
  font-style: italic;
  margin: 40px auto 80px auto;
}

.about header {
  display: none;
}

.about .quote:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background-image: url(http://placehold.it/160x160);
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.about td, .about th {
  padding: 5px 20px;
}

.about table img {
  width: auto;
  height: auto;
}

.about .team.row {
  margin-top: 40px;
}

.about .team.row img {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}


footer {
  display: block;
  margin-top: 40px;
  padding: 40px 0;
  background: white;
}

footer h6 {
  font-weight: normal;
  font-size: 13px;
  color: $secondary-text;
  margin: 0;
}

footer .spaced {
  margin-top: 20px;
}

footer .spaced:first-child {
  margin-top: 0;
}

footer .links {
  list-style: none;
  padding: 0;
}

footer .links li {
  float: left;
  margin-left: 20px;
}

footer .links li:first-child {
  margin-left: 0;
}

footer .reuters {
  text-align: right;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
