<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="clearfix menu">
          <li class="logo">
            <a href="http://stockflare.com/">
              <div class="logo-image"></div>
            </a>
          </li>
          <li><a href="http://stockflare.com/"><span class="icon">/</span> <span class="text">Pick Stocks</span></a></li>
          <li><a href="http://stockflare.com/watchlist"><span class="icon">2</span> <span class="text">My Watchlist</span></a></li>
          <li><a href="http://stockflare.com/search"><span class="icon">&#xe011;</span> <span class="text">Search</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
