<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="clearfix menu">
          <li class="logo">
            <a href="/">
              <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Stockflare" title="Stockflare" />
            </a>
          </li>
          <li><a href="http://alpha.stockflare.com/"><span class="icon">/</span> Find Ideas</a></li>
          <li><a href="http://alpha.stockflare.com/watchlist"><span class="icon">2</span> My Watchlist</a></li>
          <li><a href="http://alpha.stockflare.com/search"><span class="icon">&#xe011;</span> Search</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
