.widget-search-container {
  position: relative;

  .widget-search {
    width: 100%;
    font-size: 18px;
  }

  .spinner {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px 10px;
    display: none;
  }
}


.autocomplete-suggestions {
  border: solid 1px $border-color;
  padding: 18px 25px;
  background-color: #fff;
  max-height: 300px;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.autocomplete-selected {
  color: $brand-color;
  font-weight: 500;
}

.autocomplete-suggestions strong {
  font-weight: 600;
}

iframe, .iframe-spinner {
  width: 100%;
  height: 800px;
}

.iframe {
  display: none;
}

.iframe-spinner {
  .spinner {
    margin: 380px auto;
  }
}

.code-header {
  border-bottom: 1px solid $border-color;
}

pre, code {
  margin: 0;
}

.hljs {
  padding: 20px;
}
