---
layout: default
---
<div id="page">

  <div class="small-xs-padding">
    {%if page.subtitle %}
    <h2 class="nested-text-dark micro-xs-bottom-margin">{{ page.title }}</h2>
    <h6 class="text-bright">{{ page.subtitle }}</h6>
    {% else %}
    <h2 class="nested-text-dark micro-xs-bottom-margin">{{ page.title }}</h2>
    {% endif %}
  </div>

  <div class="{%if page.widget %}small-xs-left-margin widget small-xs-padding{% endif %} page-content small-xs-right-padding">
    {{content}}
  </div>

</div>
